.contact-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;

        input {
            padding: 1rem;
            border: none;
            border-bottom: solid black;

            &[type=submit]{
                background-color: black;
                color: white;
                cursor: pointer;
                transition: 0.2s;
                border: none;
            }

            &[type=submit]:hover {
                background-color: rgba(0, 0, 0, 0.576);
                color: white;
                transition: 0.2s;
            }
            
        }

        textarea {
            padding: 1rem;
            resize: none;
            height: 15vh;
            border: solid black;
            border-radius: 2%;
        }

    }
}