#h-container {
    height: 100vh;
    padding: calc(1rem + 0.5vw);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        font-size: calc(30px + 1vw);
        letter-spacing: 1px;
    }
}

.container-d {
    display: flex;
    font-size: calc(10px + 1vw);
    gap: calc(5%);
    margin: calc(3%);
    animation: 1.5s ease slideTopFromBottom;

    .left-d {
        width: 30%;

        img {
            width: 100%;
            object-fit: contain;
            max-height: 50vh;
        }
    }

    .right-d {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: calc(5% + 1vw);
        text-align: justify;
        letter-spacing: 1px;

        transform: translateY(500px, 0px);

        &::before {
            content: "";
            display: none;
            border-top: 1px solid black;
        }
    }
}

@keyframes slideTopFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1100px) {
    #h-container {
        height: max-content;
    }

    .container-d {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .left-d {
            width: 80%;
            text-align: center;

            img {
                width: 100%;
                object-fit: contain;
                max-height: 30vh;
                margin-bottom: 1rem;
            }
        }

        .right-d {
            width: 80%;
            gap: calc(1rem + 1vw);

            &::before {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .container-d {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .left-d {
            width: 80%;
        }

        .right-d {
            width: 80%;
        }
    }
}