h1 {
    text-align: center;
    padding: 2rem;
}

.container {
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://f.hellowork.com/blogdumoderateur/2020/06/formation-developpement-application-1200x801.jpg),;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .container-title {
        background-color: black;
        margin: 1rem;
        cursor: pointer;
    }
}

.profil-container {
    height: 100vh;
    display: flex;
    flex-direction:row;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}