footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(217, 217, 217);
    background-color: rgba(43, 107, 70, 0.821);
    transition: 1s;
    height: 10vh;
}