header {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    width: 100%;
    height: max-content;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.315);

    nav {
        display: flex;
        gap: 3rem;

        a {
            color: rgb(56, 165, 101);
            font-size: calc(10px + 1vw);
            text-decoration: none;
        }
    }

    position: absolute;
    top: 0;
}

@media screen and (max-width: 900px) {
    header {
        display: none;
    }
}